.financial__values {
  margin-bottom: 2rem;
  width: 50%;
}

.financial__create-button {
  width: 50%;
  font-size: 1rem;
  padding: 1rem;
}

.financial__money--negative,
.financial__percentage--negative {
  color: #ff796a;
}

.financial__entry--disabled td {
  opacity: 0.6;
  text-decoration: line-through;
}

.financial__entry--disabled td:last-child {
  opacity: 1;
}
